<!-- Three -->
<section id="three">
  {{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
  {{ with .Site.Params.contact.content }}<p>{{ . }}</p>{{ end }}
  <div class="row" id="contact-form">
    {{ range where .Data.Pages "Type" "contacts"}}
    <div class="8u 12u$(small)">
      {{ .Content }}
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-mobile"><span class="label"></span></h3>
          {{ .Params.telephone }}
        </li>
        <li>
          <h3 class="icon fa-envelope-o"><span class="label"></span></h3>
          <a href="#">{{ .Params.email }}</a>
        </li>
      </ul>
    </div>
    {{ end }}
  </div>
</section>
