<!-- Three -->
<section id="three">
  <h2>Contacts</h2>
  <div class="row" id="contact-form">
    {{ range where .Data.Pages "Type" "contacts"}}
    <div class="8u 12u$(small)">
      {{ .Content }}
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-phone"><span class="label"></span></h3>
          {{ .Params.telephone }}
        </li>
        <li>
          <h3 class="icon fa-envelope-o"><span class="label"></span></h3>
          <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
        </li>
      </ul>
    </div>
    {{ end }}
  </div>
</section>
