{{ "<!-- Header -->" | safeHTML }}
<header id="header">
  <a href="{{ .Site.BaseURL }}" class="image avatar">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" />
  </a>
  <h1>
    <strong>Tullia Sbarrato</strong><br>
    Postdoc fellow in the Astrophysics group of the
    Università degli Studi di Milano - Bicocca.
  </h1>

</header>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Tullia Sbarrato",
  "honorificSuffix": "PhD",
  "jobTitle": "Postdoc fellow",
  "affiliation": "Università degli Studi di Milano - Bicocca",
  "url": "https://virgilio.mib.infn.it/~sbarrato/work/cv/",
}
</script>
