{{ partial "head" . }}
  <body id="top">
    {{ partial "header" . }}

    {{ "<!-- Main -->" | safeHTML }}
    <div id="main">
      {{ range where .Data.Pages "Type" "about"}}
        <h2>About</h2>
        {{ .Content }}
      {{ end }}
      <h2>Work</h2>
      <section id="two">
        <div class="row">
          {{ range .Data.Pages }}
          <article class="6u 12u$(xsmall)">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </article>
          {{ end }}
        </div>
      </section>

      {{ partial "contact" . }}
    </div>

    {{ partial "footer" . }}
  </body>
</html>
