{{ partial "head" . }}
  <body id="top">
    {{ partial "header" . }}

    {{ "<!-- Main -->" | safeHTML }}
    <div id="main">

      <h2>About</h2>
      {{ range where .Data.Pages "Type" "about"}}
        {{ .Content }}
      {{ end }}

      <section id="two">
        <h2>Work</h2>
        <div class="row">
          {{ range where .Data.Pages "Type" "work"}}
          <article class="6u 12u$(xsmall)">
            <a href="{{ .Permalink }}"><i class="fa fa-{{.Params.icon}}"></i> {{ .Title }}</a>
          </article>
          {{ end }}
        </div>
      </section>

      {{ partial "contact" . }}
    </div>

    {{ partial "footer" . }}
  </body>
</html>
